%a.buyButton.downloadLink{title: "Buy Spriteowl", href: "/assets/download/Spriteowl-v1.3.1.zip"}
  .buyButtonInfo
    .buyButtonHead
      Download Spriteowl
    .buyButtonSubhead
      CS6 / CC / CC2014 / CC2015
  .buyButtonPrice
    Free