%a.buyButton{title: "Buy Spriteowl", href: "/assets/download/Spriteowl-v1.3.1.zip", onClick: "ga('send', 'event', { eventCategory: 'download', eventAction: 'file', eventLabel: 'Spriteowl'});"}
  .buyButtonInfo
    .buyButtonHead
      Download Spriteowl
    .buyButtonSubhead
      CS6 / CC / CC2014 / CC2015
  .buyButtonPrice
    Free