.navbar.navbar-default{role:"navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.navbar-brand.logo{title: "Spriteowl", href: "/"}
        %h1.hidden-sm Spriteowl
        %h2.hidden-xs.hidden-sm Photoshop extension

    %nav.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if (current_page.data.title == 'Home')
          %li.active
            %a{title: "Home", href: "index.html"} Home
        - else
          %li
            %a{title: "Home", href: "index.html"} Home

        - if (current_page.data.title == 'Documentation')
          %li.active
            %a{title: "Documentation", href: "documentation.html"} Documentation
        -else
          %li
            %a{title: "Documentation", href: "documentation.html"} Documentation

        - if (current_page.data.title == 'Installation & FAQ')
          %li.active
            %a{title: "Installation & FAQ", href: "installation-faq.html"} Installation & FAQ
        -else
          %li
            %a{title: "Installation & FAQ", href: "installation-faq.html"} Installation & FAQ
        %li
          %a.buy{title: "How to", href: "/assets/download/Spriteowl-v1.3.1.zip", onClick: "ga('send', 'event', { eventCategory: 'download', eventAction: 'file', eventLabel: 'Spriteowl'});"} Download