#topbar
  .container
    .row
      .col-lg-12
        %ul.sitenavi
          %li
            %a{title: "Owl-Stars", href: "http://www.owl-stars.com"}
              .home Owl-Stars
          %li.spriteowl.active
            %a{title: "Spriteowl", href: "http://spriteowl.owl-stars.com"} Spriteowl
          %li.cssowl
            %a{title: "Cssowl", href: "http://cssowl.owl-stars.com"} Cssowl

        .madeby.hidden-xs
          Owl-Stars is made by
          %a{title: "We Just Do Stuff", href: "http://www.wejustdostuff.com", target: "_blank", class: "wjds"} We Just Do Stuff