%a{title: "Buy Spriteowl", href: "http://spriteowl.fetchapp.com/sell/oophapee", class: "buyButton"}
  .buyButtonInfo
    .buyButtonHead
      Buy Spriteowl
    .buyButtonSubhead
      CS6 / Mac & Win
  .buyButtonPrice
    $
    %span.bigPrice> 14
    %span .99