%a.buyButton{title: "Buy Spriteowl", href: "http://spriteowl.fetchapp.com/sell/oophapee"}
  .buyButtonInfo
    .buyButtonHead
      Buy Spriteowl
    .buyButtonSubhead
      Via Paypal
  .buyButtonPrice
    $
    %span.bigPrice> 15
