
.mainNavigation
  %ul
    - if (current_page.data.title == 'Home')
      %li.active
        %a{title: "Home", href: "index.html"} Home
    - else
      %li
        %a{title: "Home", href: "index.html"} Home

    - if (current_page.data.title == 'Documentation')
      %li.active
        %a{title: "Documentation", href: "documentation.html"} Documentation
    -else
      %li
        %a{title: "Documentation", href: "documentation.html"} Documentation

    - if (current_page.data.title == 'Installation & FAQ')
      %li.active
        %a{title: "Installation & FAQ", href: "installation-faq.html"} Installation & FAQ
    -else
      %li
        %a{title: "Installation & FAQ", href: "installation-faq.html"} Installation & FAQ
    %li
      %a{title: "How to", href: "http://spriteowl.fetchapp.com/sell/oophapee"} Buy