/*
Syntax error: File to import not found or unreadable: susy.
              Load path: /Users/basti/Documents/Workspaces/middleman/middleman-project_spriteowl/source/assets/css/_layout
        on line 1 of grid.css.sass

1: @import "susy"
2: 
3: $total-columns  : 8
4: $column-width   : 60px
5: $gutter-width   : 20px
6: $grid-padding   : $gutter-width

Backtrace:
grid.css.sass:1
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/import_node.rb:45:in `import'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/root_node.rb:20:in `render'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/engine.rb:315:in `_render'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/engine.rb:262:in `render'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:201:in `each'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/exec.rb:424:in `watch_or_update'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/exec.rb:307:in `process_result'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/exec.rb:41:in `parse'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/exec.rb:21:in `parse!'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/bin/sass:9:in `<top (required)>'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/bin/sass:19:in `load'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/bin/sass:19:in `<main>'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/bin/ruby_noexec_wrapper:14:in `eval'
/Users/basti/.rvm/gems/ruby-1.9.3-p392/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: susy.\A               Load path: /Users/basti/Documents/Workspaces/middleman/middleman-project_spriteowl/source/assets/css/_layout\A         on line 1 of grid.css.sass\A \A 1: @import \"susy\"\A 2: \A 3: $total-columns  : 8\A 4: $column-width   : 60px\A 5: $gutter-width   : 20px\A 6: $grid-padding   : $gutter-width"; }
