---
title: Changelog
---

.section.cinema
  .container
    .col-xs-12.info
      %h2.title Spriteowl changelog

.section.bgDark.changelog
  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2.intro
        %h2 Version 1.3.0

        %p
          :markdown
            * Photoshop CC Version is now persistent after closing/minifying the panel
            * Added **`sprite-element-adjust`** mixin and placeholder to Stylesheet output

    .row
      .col-xs-12.col-md-8.col-md-offset-2.intro
        %h2 Version 1.2.0

        %p
          :markdown
            * Added **Retina** option
            * Refactored Stylesheet output to use placeholders in order to generate less CSS
            * Refactored **Optimize** option to **Trim** (optimization of the generated PNG should be done with sth. like ImageOptim)

    .row
      .col-xs-12.col-md-8.col-md-offset-2.intro
        %h2 Version 1.1.0

        %p
          :markdown
            * Initial release
