---
title: Help
description:
---


%header
  #head
    .wrapper
      %h1.logo Spriteowl - Photoshop Extension

      %a{title: "Buy Spriteowl", href: "buy.html", class: "buyButton"}
        .buyButtonInfo
          .buyButtonHead
            Buy Spriteowl
          .buyButtonSubhead
            CS6 / Mac & Win
        .buyButtonPrice
          $
          %span.bigPrice> 14
          %span .99

  #cinema
    .wrapper
      %h2.title Spriteowl Help
        
    
  #navigation
    .wrapper
      .mainNavigation
        %ul
          %li
            %a{title: "Home", href: "index.html"} Home
          %li
            %a{title: "How to", href: "howto.html"} How to
          %li.active
            %a{title: "Help", href: "help.html"} Help
          %li
            %a{title: "How to", href: "http://spriteowl.fetchapp.com/sell/oophapee"} Buy


.section
  .wrapper.install
    %h2 How to install Spriteowl

    %p.introText
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.

    %ul
      %ol
        %li
          %p
            Buy Spriteowl for just
            %strong
              $9.99
              %a{title: "Buy Spriteowl", href: "buy.html"}
                here.
        %li
          %p
            Receive the Download link and
            %strong
              download
            and
            %strong
              unzip
            Spriteowl.
        %li
          %p
            Launch the Adobe
            %strong
              Extension Manager.
            %br
            Windows Users: You may need to run the Adobe Extension Manager as Administrator (right-click the Adobe Extension Manager icon and click “Run as Administrator”).
        %li
          %p
            %strong
              Click Install
            and navigate to the Spriteowl extension file (.zxp).
            %br
              %strong
                Click OK.
        %li
          %p
            You should now be able to find Spriteowl at
            %strong
              Window
            >
            %strong
              Extensions
            >
            %strong
              Spriteowl

    .teaserImg
      %img{src: "assets/img/content/owls/tree-owl.png"}






.section.bgDark
  .wrapper.faq
    %h2 Here are answers to some questions about Spriteowl

    %p.introText
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.

    .box.expandBox
      %h3.title
        What do I get for my money?
      %p.content
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.

    .box.expandBox
      %h3.title
        What can Spriteowl do?
      %p.content
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.

    .box.expandBox
      %h3.title
        I want to see how it works before I buy.
      %p.content
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.

    .box.expandBox
      %h3.title
        Do I have to buy OS X and Windows version separately?
      %p.content
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.

    .box.expandBox
      %h3.title
        Why only a CS6 version?
      %p.content
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.

    .box.expandBox
      %h3.title
        I lost my download link. Can you resend it to me?
      %p.content
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.

    .box.expandBox
      %h3.title
        Can I suggest features?
      %p.content
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.

    .box.expandBox
      %h3.title
        I found a bug. How can I tell you?
      %p.content
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.

