---
title: Buy
description:
---


%header
  #head
    .wrapper
      %h1.logo Spriteowl - Photoshop Extension

      %a{title: "Buy Spriteowl", href: "http://spriteowl.fetchapp.com/sell/oophapee", class: "buyButton"}
        .buyButtonInfo
          .buyButtonHead
            Buy Spriteowl
          .buyButtonSubhead
            CS6 / Mac & Win
        .buyButtonPrice
          $
          %span.bigPrice> 14
          %span .99

  #cinema
    .wrapper
      %h2.title How to use Spriteowl
        
    
  #navigation
    .wrapper
      .mainNavigation
        %ul
          %li
            %a{title: "Home", href: "index.html"} Home
          %li.active
            %a{title: "How to", href: "howto.html"} How to
          %li
            %a{title: "Help", href: "help.html"} Help
          %li
            %a{title: "How to", href: "http://spriteowl.fetchapp.com/sell/oophapee"} Buy


.section
  .wrapper.example
    %h2 A simple example

    %p.introText
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.

    .row
      .box
        .nr
          1.
        .content
          %h3
            Photoshop
          %p
            Place your Icons and Name your Folder and Layers
            %br
            %br
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.
      .box.teaserImg
        %img{src: "assets/img/content/example/psd-layers.png"}

    .row
      .box
        .nr
          2.
        .content
          %h3
            Export
          %p
            Now its time to export your Sprite and Code. You can choose between different Css Styles like Css, Less, Sass, Scss, Stylus. You can although select your favorite namespace seperator or extend the namespace with your filename. To optimze your exportet Png switch Trim to „On“ and Spriteowl removes the border blank space.
            %br
            %br
            For a detailed explanation of all spriteowl settings please scroll down or click
            %a{title: "Cssowl", href: "#"} here.
      .box.teaserImg
        %img{src: "assets/img/content/spriteowl-extension.png"}

    .row
      .box
        .nr
          3.
        .content
          %h3
            This is what you get
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.
      .box.code
        %pre.prettyprint.lang-css
          = preserve do
            :escaped
              @settingsSeperator: url("settingsSeperator.png");

              #icon {
                #pacMan {
                  @x: -1px;
                  @y: 0;
                  @width: 27px;
                  @height: 30px;
                  @src: @settingsSeperator;

                  .display() {
                    #cssowl > #sprite > .display(@x, @y, @width, @height, @src);
                  }
                }
                #coffe {
                  @x: -2px;
                  @y: -46px;
                  @width: 30px;
                  @height: 19px;
                  @src: @settingsSeperator;

                  .display() {
                    #cssowl > #sprite > .display(@x, @y, @width, @height, @src);
                  }
                }
              }
              #logo {
                #heart {
                  @x: 0;
                  @y: -81px;
                  @width: 30px;
                  @height: 29px;
                  @src: @settingsSeperator;

                  .display() {
                    #cssowl > #sprite > .display(@x, @y, @width, @height, @src);
                  }
                }
              }


    .row
      .box
        .nr
          4.
        .content
          %h3
            Examples how to use it
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.
      .box.code
        %pre.prettyprint.lang-css
          = preserve do
            :escaped
              <div id="coffe">Kaffe</div>





.section.bgDark
  .wrapper.settings
    %h2 Extension settings

    %p.introText
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.

    .teaserImg
      %img{src: "assets/img/content/spriteowl-extension.png"}

    %ul
      %li
        .big Css Style:
        Select your favorite Css Style for the Code export. We support Css, Less, Sass, Scss and Stylus.

      %li
        .big Framework:
        Select your Css Framework for the Code export. Actually we only support your own Cssowl Framework. For more Information to Cssowl klick
        %a{title: "Cssowl", href: "#"} here
        or feel free to send us your own Framework.

      %li
        .big Multiple:
        All root/first folders in your sprite .psd will be exported as single .png and Css, Less, Sass,... file. Although Spriteowl extends the Css, Less, Sass, ... namespace to "foldername-graphicname-display()" ("display()" is the Css standard function)

      %li
        .big Seperator:
        Select your namespace seperator. You can change between "-" and "_". e.g. "graphicname-display()" or "graphicname_display()" ("display()" is the Css standard function)

      %li
        .big File Prefix:
        Turn it to "On" and Spriteowl extends the namespace to "psdname-graphicname-display()"

      %li
        .big Trim:
        Switch to On and Spriteowl removes the border blank space of your exportet .png



