---
title: Home
---

.section.cinema.home
  .container
    .row
      .col-sm-6.col-xs-12.info
        %p.subtitle Save time, work faster!
        %h2.title Export your Photoshop Sprites to Png and CSS, LESS, SASS/SCSS or Stylus code
        = partial "partials/buybutton"

      .col-sm-6.preview.hidden-xs
        %img.img-responsive{src: "assets/img/cinema/spriteowl-extension-colors.png"}

.section.howto
  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2.intro
        %h2.introTitle What is Spriteowl?

        %p.introText
          <strong>Spriteowl is a Photoshop extension</strong> that takes over the boring part when working with <strong>sprite images and CSS</strong>.
          <strong>In other words, no more annoying measuring</strong>.

    .row
      .col-sm-4
        .box
          .arrow
          %img.teaserImg{src: "assets/img/content/howto/how1.png"}
          %h3.title Photoshop
          %p.content Place your elements and name your groups and layers in your Photoshop file.


      .col-sm-4
        .box
          .arrow
          %img.teaserImg{src: "assets/img/content/howto/yes-how2-magic.png"}
          %h3.title Spriteowl
          %p.content Choose your export options in the Spriteowl Photoshop extension and let the magic happen!

      .col-sm-4
        .box
          %img.teaserImg{src: "assets/img/content/howto/yes-how3.png"}
          %h3.title CSS, LESS, SASS/SCSS, Stylus + Png file(s)
          %p.content Import the generated code + Png file(s) into your project.

    .row
      .col-xs-12.col-md-8.col-md-offset-2
        .moreinfo
          <strong>Want to find out more about Spriteowl in detail? Check out the #{link_to 'documentation and walktrough', '/documentation.html'}</strong>.


.section.bgDark.features
  .container
    .row
      .col-sm-12
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h2.introTitle Spriteowl Features

    .row
      .col-sm-6
        .box.icon-clock
          %h3.title Save time
          %p.content Spriteowl retrieves <strong>x, y, width and height info of all sprite elements</strong> for you. <strong>No more boring measurements!</strong>

      .col-sm-6
        .box.icon-code
          %h3.title Preprocessor support
          %p.content Good news for those working with preprocessors: Spriteowl supports <strong>LESS, SASS/SCSS or Stylus!</strong>

      .col-sm-6
        .box.icon-arrange
          %h3.title Changes welcome
          %p.content Just name your groups and layers and <strong>don't worry about position changes</strong> of your sprite elements any longer.

      .col-sm-6
        .box.icon-ps
          %h3.title Platform support
          %p.content Spriteowl works for <strong>Photoshop CS6 & CC</strong> on <strong>Mac & Windows</strong> platforms.

      .col-sm-6
        .box.icon-heart
          %h3.title Handy mixins
          %p.content Every sprite element will contain all the mixins from the <strong>#{link_to 'Cssowl mixin library', 'http://cssowl.owl-stars.com' }</strong> to make common tasks easier.

      .col-sm-6
        .box.icon-display
          %h3.title Retina support
          %p.content Coming soon...



-#.section
-#  .wrapper.quotes
-#    %h2 What others say about Spriteowl
-#
-#    .flexslider
-#      %ul.slides
-#        %li.slide
-#          %img.logoImg{src: "assets/img/content/clientDummy.png"}
-#          .slideText
-#            %p.quote Spriteowl has been the perfect addition to our workflow. It has allowed me to spend more time in Photoshop, doing what I love, while providing accurate results I can trust.
-#            %p.user Max Muster, Senoir Webdesigner
-#
-#        %li.slide
-#          %img.logoImg{src: "assets/img/content/clientDummy.png"}
-#          .slideText
-#            %p.quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.
-#            %p.user Max Muster, Senoir Webdeveloper
-#
-#        %li.slide
-#          %img.logoImg{src: "assets/img/content/clientDummy.png"}
-#          .slideText
-#            %p.quote Neque pecun modut est neque nonor et imper ned libidig met, consectetur adipiscing elit, sed ut labore et dolore magna aliquam is nostrud exercitation ullam mmodo consequet.
-#            %p.user Max Muster, Senoir Webdesigner
