---
title: Home
---

.section.cinema.home
  .container
    .row
      .col-sm-6.col-xs-12.info.startslidemodule-in-left
        %p.subtitle Save time, work faster!
        %h2.title Export your Photoshop Sprites to PNG and CSS, LESS, SASS/SCSS or Stylus code
        = partial "partials/buybutton"

      .col-sm-6.preview.hidden-xs.startslidemodule-in-right
        =image_tag "cinema/spriteowl-extension-colors.png", :alt => "", :class => "img-responsive"

.section.howto
  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2.intro
        %h2.introTitle What is Spriteowl?

        %p.introText
          <strong>Spriteowl is a Photoshop extension</strong> that takes over the boring part when working with <strong>sprite images and CSS</strong>.
          <strong>In other words, no more annoying measuring</strong>.

    .row
      .col-sm-4
        .box.slidemodule
          .arrow
          =image_tag "content/howto/how1.png", :alt => "", :class => "teaserImg"
          %h3.title Photoshop
          %p.content Place your elements and name your groups and layers in your Photoshop file.

      .col-sm-4
        .box.slidemodule
          .arrow
          =image_tag "content/howto/yes-how2-magic.png", :alt => "", :class => "teaserImg"
          %h3.title Spriteowl
          %p.content Choose your export options in the Spriteowl Photoshop extension and let the magic happen!

      .col-sm-4
        .box.slidemodule
          =image_tag "content/howto/yes-how3.png", :alt => "", :class => "teaserImg"
          %h3.title  Code + PNG
          %p.content Import the generated CSS, LESS, SASS/SCSS, Stylus code + PNG file(s) into your project.

    .row
      .col-xs-12.col-md-8.col-md-offset-2
        .moreinfo.slidemodule
          <strong>Want to find out more about Spriteowl in detail? Check out the #{link_to 'documentation and walktrough', '/documentation.html'}</strong>.


.section.bgDark.features
  .container
    .row
      .col-sm-12
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h2.introTitle Spriteowl Features

    .row
      .col-sm-6
        .box.icon-clock.slidemodule
          %h3.title Save time
          %p.content Spriteowl retrieves <strong>x, y, width and height info of all sprite elements</strong> for you. <strong>No more boring measurements!</strong>

      .col-sm-6
        .box.icon-display.slidemodule
          %h3.title Retina support
          %p.content Spriteowl generates <strong>two PNG files</strong>. A <strong>100% sized PNG</strong> (Retina) and an additional <strong>50% downsized PNG</strong> and all the required media queries.

      .col-sm-6
        .box.icon-code.slidemodule
          %h3.title Preprocessor support
          %p.content Good news for those working with preprocessors: Spriteowl supports <strong>LESS, SASS/SCSS or Stylus!</strong>

      .col-sm-6
        .box.icon-arrange.slidemodule
          %h3.title Changes welcome
          %p.content Just name your groups and layers and <strong>don't worry about position changes</strong> of your sprite elements any longer.

      .col-sm-6
        .box.icon-ps.slidemodule
          %h3.title Platform support
          %p.content Spriteowl works for <strong>Photoshop CS6, CC & CC 2014</strong> on <strong>Mac & Windows</strong> platforms.

      .col-sm-6
        .box.icon-heart.slidemodule
          %h3.title Handy mixins
          %p.content Besides the basic mixins, Spriteowl is designed to work well with the <strong>#{link_to 'Cssowl mixin library', 'http://cssowl.owl-stars.com' }</strong>. Check it out!


.section.screencast
  .container
    .row
      .col-xs-12.col-md-10.col-md-offset-1.intro
        %h2 Getting started with Spriteowl

        %p.introText
          The <strong>screencast</strong> shows you how to install the Spriteowl Photoshop extension, create and export a sprite PSD, working with CSS and using Cssowl.

    .row
      .col-xs-12.col-md-8.col-md-offset-2
        .ytvideo
          %iframe{allowfullscreen: "", frameborder: "0", height: "100%", src: "//www.youtube.com/embed/8GZ3WuhWuWU?color=white", width: "100%"}


.section.bgDark.benefits
  .container
    .row
      .col-xs-12.col-md-10.col-md-offset-1.intro
        %h2 How you benefit from Spriteowl

        %p.introText
          <strong>Writing CSS code for a sprite image is a time-consuming job as you always have to measure x, y, width and height of all sprite elements</strong>. And if elements change or new ones are added, you have no choice but to start measuring again.
          Wouldn't it be great, if you could just do your updates and let someone else take over this annoying job? <strong>Well, lucky you, that's where Spriteowl comes in.</strong>

    .row
      .col-sm-4
        .boxinfo.slidemodule
          %h3.title
            What you get
          %p.content
            With Spriteowl you will not only get retina ready PNG files of your Photoshop sprite file, but also a stylesheet which contains <strong>each layer's position (x/y) and dimension (width/height)!</strong>

      .col-sm-4
        .boxinfo.slidemodule
          %h3.title
            Preprocessors support
          %p.content
            When working with one of the preprocessors <strong>LESS, SASS/SCSS or Stylus</strong> you will get a stylesheet as well as useful mixins from the <strong>#{link_to 'Cssowl mixin library', 'http://cssowl.owl-stars.com/sprite.html', :target => '_blank'}</strong> with many functions to easily position your sprite elements.

      .col-sm-4
        .boxinfo.slidemodule
          %h3.title
            Namespace support
          %p.content
            Spriteowl uses namespaces to bring sprite elements into your HTML. So by just naming your groups and layers, <strong>you no longer have to worry about position changes of the sprite elements in your original Psd file</strong>.

    .no-spriteowl
      .row
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h3 The usual workflow with sprites and CSS can drive you mad

      .row
        .col-sm-3
          .box.slidemodule
            .arrow
            =image_tag "content/howto/how1.png", :alt => "", :class => "teaserImg"
            %h3.title Photoshop
            %p.content Create a sprite Psd

        .col-sm-3
          .box.slidemodule
            .arrow
            =image_tag "content/howto/no-how2.png", :alt => "", :class => "teaserImg"
            %h3.title Export Image
            %p.content Export the sprite image


        .col-sm-3
          .box.slidemodule
            .arrow
            =image_tag "content/howto/no-how3-boring.png", :alt => "", :class => "teaserImg"
            %h3.title Measure
            %p.content Look up each element


        .col-sm-3
          .box.slidemodule
            =image_tag "content/howto/no-how4.png", :alt => "", :class => "teaserImg"
            %h3.title Code
            %p.content Write CSS code

    .yes-spriteowl
      .row
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h2
            Save time and nerves with the Spriteowl way
            
      .row
        .col-sm-4
          .box.slidemodule
            .arrow
            =image_tag "content/howto/how1.png", :alt => "", :class => "teaserImg"
            %h3.title Photoshop
            %p.content Place your elements and name your groups and layers

        .col-sm-4
          .box.slidemodule
            .arrow
            =image_tag "content/howto/yes-how2-magic.png", :alt => "", :class => "teaserImg"
            %h3.title Spriteowl
            %p.content Choose your stylesheet syntax and export options in the Spriteowl Photoshop extension and let the magic happen!

        .col-sm-4
          .box.slidemodule
            =image_tag "content/howto/yes-how3.png", :alt => "", :class => "teaserImg"
            %h3.title CSS, LESS, SASS/SCSS, Stylus + PNG
            %p.content Import the generated sprite stylesheet + PNG file(s) into your project



