---
title: Home
description:
---

.section.cinema.home
  .container
    .row
      .col-sm-6.col-xs-12.info
        %p.subtitle Save time, work faster!
        %h2.title Export your Photoshop Sprites to Png and Css, Less, Sass/Scss or Stylus Code
        = partial "partial/buybutton"

      .col-sm-6.preview.hidden-xs
        %img.img-responsive{src: "assets/img/cinema/spriteowl-extension-colors.png"}

.section.howto
  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2.intro
        %h2.introTitle What Spriteowl does

        %p.introText
          <strong>Spriteowl is a Photoshop Extension</strong> that takes over the boring part when working with <strong>#{link_to 'Sprites', 'http://en.wikipedia.org/wiki/Sprite_%28computer_graphics%29#Sprites_by_CSS', :target => '_blank'}</strong> and <strong>Css</strong>.
          For more details on how Spriteowl can save you a lot of time, check out the <strong>#{link_to 'Documentation', '/documentation.html'}</strong>.

    .row
      .col-sm-4
        .box
          .arrow
          %img.teaserImg{src: "assets/img/content/howto/how1.png"}
          %h3.title Photoshop
          %p.content Place your elements and name your groups and layers in our Photoshop file.


      .col-sm-4
        .box
          .arrow
          %img.teaserImg{src: "assets/img/content/howto/yes-how2-magic.png"}
          %h3.title Spriteowl
          %p.content Choose your export options in the Spriteowl Photoshop Extension and let the magic happen!

      .col-sm-4
        .box
          %img.teaserImg{src: "assets/img/content/howto/yes-how3.png"}
          %h3.title Css, Less, Sass/Scss, Stylus + Png
          %p.content Import the generated Code + Png file into your project.

.section.bgDark.features
  .container
    .row
      .col-sm-12
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h2.introTitle Spriteowl Features

    .row
      .col-sm-6
        .box.icon-clock
          %h3.title Save time
          %p.content Spriteowl retrieves <strong>all sprite element's x, y, widths and heights</strong> for you. <strong>No more boring measurement!</strong>

      .col-sm-6
        .box.icon-code
          %h3.title Preprocessor support
          %p.content Spriteowl works with <strong>Less, Sass/Scss or Stylus</strong>

      .col-sm-6
        .box.icon-arrange
          %h3.title Namespaces support
          %p.content Name your Groups and Layers and <strong>be no longer worry about position changes</strong> of your sprite elements

      .col-sm-6
        .box.icon-heart
          %h3.title Handy Mixins
          %p.content Get handy functions to positioning your elements from the <strong>#{link_to 'Cssowl Sprite Package', 'http://cssowl.owl-stars.com' }</strong>

      .col-sm-6
        .box.icon-ps
          %h3.title Platform support
          %p.content Spriteowl works on <strong>Mac & Windows</strong> for <strong>Photoshop CS6 & CC</strong>

      .col-sm-6
        .box.icon-display
          %h3.title Retina support
          %p.content Coming soon...



-#.section
-#  .wrapper.quotes
-#    %h2 What others say about Spriteowl
-#
-#    .flexslider
-#      %ul.slides
-#        %li.slide
-#          %img.logoImg{src: "assets/img/content/clientDummy.png"}
-#          .slideText
-#            %p.quote Spriteowl has been the perfect addition to our workflow. It has allowed me to spend more time in Photoshop, doing what I love, while providing accurate results I can trust.
-#            %p.user Max Muster, Senoir Webdesigner
-#
-#        %li.slide
-#          %img.logoImg{src: "assets/img/content/clientDummy.png"}
-#          .slideText
-#            %p.quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.
-#            %p.user Max Muster, Senoir Webdeveloper
-#
-#        %li.slide
-#          %img.logoImg{src: "assets/img/content/clientDummy.png"}
-#          .slideText
-#            %p.quote Neque pecun modut est neque nonor et imper ned libidig met, consectetur adipiscing elit, sed ut labore et dolore magna aliquam is nostrud exercitation ullam mmodo consequet.
-#            %p.user Max Muster, Senoir Webdesigner
