---
title: Installation & FAQ
---

.section.cinema
  .container
    .col-xs-12.info
      %h2.title Spriteowl installation & FAQ

.section.install
  .container
    .row
      .col-xs-12.col-md-10.col-md-offset-1.intro
        %h2 How to install Spriteowl

        %p.introText
          To buy, download and install the Spriteowl Photoshop extension, please follow these 5 steps:

    .row
      .col-sm-9
        %ol
          %li
            %div
              Download and unzip the Spriteowl Photoshop extension for
              %strong
                %a{title: "How to", href: "/assets/download/Spriteowl-v1.3.1.zip", onClick: "ga('send', 'event', { eventCategory: 'download', eventAction: 'file', eventLabel: 'Spriteowl'});"} Free.
          %li
            %div
              %h4 Photoshop CC2015:
              %p Open the appropriate directory.<br>
              %p.sp
                <strong>MAC:</strong> /Library/Application\ Support/Adobe/CEP/extensions/<br>
              %p
                <strong class="wn">WINDOWS:</strong> Windows 64: C:\Program Files (x86)\Common Files\Adobe\CEP\extensions\ or<br>
                Windows 32: C:\Program Files\Common Files\Adobe\CEP\extensions\
              %p.sp
                Copy the unzipped <strong>Spriteowl-CC2015</strong> folder into the extensions folder. If the Adobe\CEP\extensions folder does not exist, you can create it.
              %br
              %h4 Photoshop CS6, CC & CC2014:
              %p For <strong>Photoshop CS6</strong> launch the <strong>Adobe Extension Manager CS6</strong>. For <strong>Photoshop CC & CC2014</strong> launch the <strong>Adobe Extension Manager CC</strong>. In the Adobe Extension Manager click "<strong>Install</strong>" an choose the correct version of the Spriteowl Photoshop Extension file (.zxp) then click "<strong>Ok</strong>" or "<strong>Open</strong>".           
              %p.sp
                %em
                  Be sure to open corresponding and latest version of Adobe Extension Manager CS6 or CC
                  %br
                  <strong>Windows users:</strong> You may need to run the Adobe Extension Manager as Administrator (right-click the Adobe Extension Manager icon and select “Run as Administrator”).
          %li
            %div
              Now you will find Spriteowl in the Adobe Photoshop menu at
              %br
              <strong>Window > Extensions > Spriteowl</strong>.

      .col-sm-3
        .teaserImg.slidemodule
          =image_tag "content/owls/tree-owl.png", :alt => ""


.section.bgDark.faq
  .container
    .row
      .col-xs-12.col-md-10.col-md-offset-1.intro
        %h2 Frequently asked questions

        %p.introText
          Here are answers to some common questions about Spriteowl

    .row
      .col-xs-12
        .box.expandBox.slidemodule
          %h3.title
            The installation of Spriteowl has failed. I get an error from the Adobe Extension manager!
          .content
            %ul
              %li
                <strong>Be sure you have opened the corresponding version of the Adobe Extension Manager!</strong> For example, for the CC Photoshop Extension you will need to use the Adobe Extension Manager CC. For the CC2014 Extension you also need the Adobe Extension Manager CC!
              %li
                Close Photoshop before you install the extension with the Adobe Extension Manager.

        .box.expandBox.slidemodule
          %h3.title
            What can Spriteowl do?
          .content
            Spriteowl is aimed to improve the workflow between designers and developers: Designers work with Photoshop as usual. Once the creation is done, they can very easily export a stylesheet and retina ready PNGs from their Photoshop sprite file with the help of Spriteowl. And the exported files include everything the developers need.

        .box.expandBox.slidemodule
          %h3.title
            Can I suggest features?
          .content
            Yes, of course! We love suggestions! Please send us an email to #{mail_to 'support@owl-stars.com', 'support@owl-stars.com'}.

        .box.expandBox.slidemodule
          %h3.title
            I found a bug. How can I let you know?
          .content
            Please send us a bug description to #{mail_to 'support@owl-stars.com', 'support@owl-stars.com'} and we will fix it as soon as possible.

        .box.expandBox.slidemodule
          %h3.title
            Who is behind Spriteowl?
          .content
            Spriteowl and all other Owl-Star products are made by #{link_to 'We Just Do Stuff', 'http://www.wejustdostuff.com', :target => '_blank'}. Check us out!
